:root{
    --primary-color:  #ECE0CF;
    --dark-color: #1a0c01;
    --background-light: #ECE0CF;
    --hover-light: #F2C14E;
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}



header{
   
    justify-content: space-between;
    align-items: center;
    padding: 15px 40px;
    background-color: var(--primary-color);
}

.logo{

 
    align-items: center;
    gap: 10px;
    margin-left: 50%;
}

.logo img{
    width: 40px;
    cursor: pointer;
    transition: transform 0.25s;
}

.logo img:hover{
    transform: rotate(360deg);
}

.hamburger{
    display: none;
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
}


.menu{
    list-style: none;
    display: flex;
    gap: 90px;
    
    
}

.menu a{
    color: rgb(240, 204, 204);
    text-decoration: none;
    padding: 8px 12px;
    transition: background-color 0.2s linear;
    cursor: pointer;
}

.menu a:hover{
    background-color: var(--hover-light);
    color: var(--dark-color);
}


.cta-container{
    height: 300px;
    background-image: url("perro.png.jpg"); 
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    filter: sepia(30%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px;
}

.cta-container h1{
    background-color: rgba(236, 224, 207, 0.5);
    padding: 10px 20px;
    text-shadow: 8px 4px 6px var(--hover-light);
}

.cta-container p{
    max-width: 600px;
    margin-top: 15px;
}


.footer-copy{
    text-align: center;
    padding: 20px;
    background-color:rgb(235, 124, 21);
    color: rgb(21, 20, 20);
}

footer{
    background-color: var(--primary-color);
    padding: 40px;
}

.footer-menu{
    display: flex;
    gap: 30px;
    justify-content: space-between;
}

.footer-menu a{
    color: var(--dark-color);
    text-decoration: none;
    cursor: pointer;
}

.footer-menu a:hover{
    color: var(--hover-light);
}


.contact-form{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.contact-form input,
.contact-form textarea{
    padding: 8px;
    border-radius: 4px;
    border: none;
    transition: transform 0.25s;
}

.contact-form input:hover,
.contact-form textarea:hover{
    transform: scale(1.1);
}

.contact-form button{
    padding: 10px;
    border: none;
    background-color:rgb(232, 142, 6);
    color: rgb(255, 255, 255);
    cursor: pointer;
}

.contact-form button:hover{
    background-color: var(--hover-light);
    color: var(--dark-color);
}
.l{
    background-color: #0d0d0d;
    width: 150%;
    height: 40px;
    display: flex;
    margin-top: 50px;
    
}


@media(max-width:650px){

    .menu{
        display: none;
    }

    .hamburger{
        display: block;
    }

    .footer-menu{
        flex-direction: column;
    }

    .cta-container{
        height: 220px;
    }
}